  <div class="mt-16 max-w-lg mx-auto">
  <header class="flex justify-between">
    <h1 class="text-3xl mb-4">Show user_action</h1>

    <div>
      <%= link_to 'Edit', edit_user_action_path(@user_action), class: 'btn btn--primary' %>
    </div>
  </header>

</div>

