/* Base.css contains unclassed HTML elements */

body {
  @apply bg-white;
  @apply font-sans leading-normal;
  color: var(--textColor);
  @apply bg-black;
}

a {
  @apply underline;
  color: var(--brandColor);

  &:hover {
    @apply no-underline;
  }
}

h1, h2, h3, h4, h5, h6:not(:last-child) {
  @apply mb-4;
}
.content-body h1, .content-body h2, .content-body h3, .content-body h4, .content-body h5, .content-body h6 {
  @apply text-3xl; 
  @apply text-white; 
  @apply text-center; 
}

p {
  @apply mb-4;
  @apply leading-normal;
}

.challenge-card {
  position: relative;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: inherit;
}
.nav__logo img {width: 150px; height: auto}