:root {
  --brandColor: config("colors.yellow-light");
  --brandColorDark: config("colors.blue-dark");
  --secondaryBrandColor: config("colors.green");
  --secondaryBrandColorDark: config("colors.green-dark");
  --textColor: config("colors.grey-darkest");
  --textColorInverted: config("colors.white");
}

