<footer class="footer-wrapper">
  <div class="footer container mx-auto">
    <div class="footer__items">
      <%= link_to "about", about_path, class: "footer__item footer__link" %>
      <%= link_to "contact", contact_path, class: "footer__item footer__link" %>
    </div>

    <div class="footer__items">
      <%= link_to "terms", terms_path, class: "footer__item footer__link" %>
      <%= link_to "privacy", privacy_path, class: "footer__item footer__link" %>
    </div>
  </div>
</footer>

