<div class="hero">
  <div class="container hero__content">
    <h1 class="hero__heading">
      Live Heroically
    </h1>
    <h2 class="hero__subheading">
      Here I provide more insights on how I do this
    </h2>

    <div class="flex mt-8">
      <%= form_for @user, :url => { :action => "create" } do |f| %>
        <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
        <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
      <% end %>
    </div>
  </div>
</div>

