<% content_for :page_title, "404. Could not find that page." %>

<div class="container mt-4 mx-auto">
  <h1 class="text-xl mb-4">Could not find that page</h1>
  <p>Looks like you stumbled upon something that is not here.</p>

  <%= link_to "Go back to the homepage", root_url, class: "btn btn--primary-outline" %>
</div>

