<% content_for :page_title, "403. Something went wrong." %>

<div class="container mt-4 mx-auto">
  <h1 class="text-xl mb-4">Could not process this</h1>

  <%= link_to "Go back to the homepage", root_url, class: "btn btn--primary-outline" %>
</div>

